.layout {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

.main {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--space-8);
  flex: 1 0 auto;
}

@media (max-width: 768px) {
  .main {
    padding: 0 var(--space-5);
  }
}
